:root {
  --board-cell-size: 44px;
  --boards-gap-size: 64px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif, system-ui;
  background-color: aliceblue;
  min-height: 100svh;
}

dialog {
  position: fixed;
  text-align: center;
  top: 40%;
  left: 50%;
  translate: -50% -50%;
  background-color: rgb(176, 248, 255);
  border-radius: 1em;
  width: 750px;
  max-width: 900px;
  height: 200px;
  border: none;
  outline: 2px solid white;
  font-size: 1.5rem;
}

.page-heading {
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 2px;
  background-color: pink;
}

.page-console {
  text-align: center;
  background-color: aquamarine;
  font-size: 1.5em;
  padding: 1em;
}

.main {
  display: flex;
  justify-content: center;
  gap: var(--boards-gap-size);
}

.board-container {
  padding: 8px;
  position: relative;
}



.board-left,
.board-right {
  display: grid;
  aspect-ratio: 1/1;
  grid-template-columns: repeat(11, var(--board-cell-size));
  grid-template-rows: repeat(11, var(--board-cell-size));
}

.board-name {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.25em;

}

[data-target-active="true"] {
  background-color: lightblue;

  &:hover {
    cursor: pointer;
    background-color: lightseagreen;
  }
}

[data-hit="true"] {
  background-color: lightcoral;
}

[data-hit="false"] {
  background-color: gray;
}


.square {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  /* border: 1px solid black; */
  /* flex-wrap: wrap; */
}

.square:not(.header):not(.side-header) {
  outline: 1px solid black;
  margin: 1.24px;
}

.board-container-header {
  grid-column: 1/12;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(10, var(--board-cell-size));
}

.board-container-side-header {
  grid-column: 1/2;
  grid-row: 2/12;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(10, var(--board-cell-size));
  justify-items: end;
}

.square.header,
.square.side-header {
  font-size: 1.25em;
  font-weight: 500;
}

.square.header {
  align-items: end;
  padding: 4px;
}

.square.side-header {
  padding: 8px;
}

.end-game-modal-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  height: 100%;
}

.end-game-modal-header {
  font-size: 2rem;
}

.end-game-modal-body {
  height: 100%;
  padding: 1rem;
}

.end-game-modal-text {
  padding-bottom: 1.5rem;
}

.end-game-modal-body input[type="submit"] {
  height: 30px;
  width: 100px
}